// Colors
$color-text: #6e757c;
$color-bg: #1e1e2d;
$color-bg-cards: #27293b;

// Fonts
$font-base: 'Avenir', Helvetica, Arial, sans-serif;

// Box Shadow
$box-shadow-cards: 0 0 10px rgba(0, 0, 0, .06);